.wrapper {
  border-radius: 20px;
  max-width: 1202px;
  height: 145px;
  margin: 0 auto;
  background-color: var(--brand-primary);
  padding: 2.4rem 2.3rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;

  position: relative;
}

.banner_timer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.desc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--second-text);
}
.desc span {
  font-weight: 700;
}
.manager-call {
  background-color: var(--banner-desc-bg);
  padding-top: 2rem;
  padding-bottom: 1.6rem;
  padding-right: 2.4rem;
  border-radius: 20px;
  width: 489px;
  height: 121px;
  position: relative;
}

.manager-call::before {
  content: '';
  z-index: 1;
  background-image: url(/images/banner/1000003817.png);
  background-repeat: no-repeat;
  background-position: -6%;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.manager-call span {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 100%;
  color: var(--dark-text);
}

.manager-call p {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 100%;
  width: 345px;
  float: right;
  color: var(--dark-text);
}

.wrapper__img {
  background-image: url('/images/banner/11323080 3.png'),
    url('/images/banner/11323080 4.png'), url('/images/banner/11323080 1.png');

  background-position: 50% 0, 39% 0, 28% 100%;

  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, auto, auto;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
