.section {
  background-color: var(--secondBg);
  padding-top: 12.2rem;
  padding-bottom: 12.2rem;
}

@media (min-width: 1440px) {
  .container {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

.content_wrapper {
  overflow-x: auto;
  color: black;
  margin-top: 10rem;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.8rem;
}

.table thead {
  position: relative;
}

.table tr td:first-child,
.table tr th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.table tr td:last-child,
.table tr th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.table th,
.table td {
  padding-left: 1.4rem;
  padding-right: 2.5rem;
  height: 70px;
  text-align: left;
  vertical-align: middle;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;
}

.table th {
  font-weight: 600;
  text-align: center;
  background-color: var(--secondBg);
}
.table td {
  text-align: center;
}

.table td:first-child,
table th:first-child {
  width: 45.5%;
}

.table td strong {
  gap: 0.8rem;
  display: flex;
  align-items: center;
}
.table tr:nth-child(even) {
  background-color: var(--secondBg);
}

.table tr:nth-child(odd) {
  background-color: var(--table-color);
}

.checkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  box-shadow: 13px 0 20px 0 rgba(0, 0, 0, 0.06);
  background: rgba(139, 87, 194, 0.2);
  mix-blend-mode: plus-darker;
  width: 27rem;
}

.table th:nth-child(2) {
  background-color: var(--secondBg);
}

.feature_info {
  position: relative;
}

.feature_info_title {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.feature_info_btn {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.feature_info_icon {
  display: block;
}

/*tooltip  */
.feature_info_icon_wrapper {
  position: relative;
  display: inline-block;
}

/* tooltip */
.feature_tooltip {
  position: absolute;
  top: calc(100% + 8px);

  left: 96px;
  transform: translateX(calc(-50% + 20px)) translateY(6px);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.18s ease, transform 0.18s ease;
  text-align: start;
  background-color: var(--banner-desc-bg);
  box-shadow: -3px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  padding: 8px 12px;
  width: 42.5rem;
  z-index: 50;
}

/* hover*/
.feature_info_icon_wrapper:hover .feature_tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

/* arrow */
.tooltip_arrow {
  position: absolute;
  top: -6px;

  left: 30%;
  transform: translateX(-50%);

  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--banner-desc-bg);
}

.feature_tooltip ul {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 1.3rem;
  padding-right: 1.6rem;

  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
}

.feature_info_btn svg:hover {
  stroke: var(--accent-yellow);
  transition: var(---default-transition);
}
.feature_info_btn:focus {
  outline: 2px solid var(--premium-bg);
  outline-offset: 2px;
  border-radius: 4px;
}

/* top table */

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1;
}

.wrapper__title {
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 120%;
  width: 456px;
  text-align: start;
  margin-bottom: 2.8rem;
}

.wrapper__title span {
  font-weight: 800;
  line-height: 120%;
  color: #000;
}

.cardPro {
  border-radius: 24px 24px 0 0;
  width: 270px;
  height: 179px;
  right: -0.8rem;
  box-shadow: -3px 0 16px 0 rgba(3, 19, 54, 0.2),
    3px 0 16px 0 rgba(3, 19, 54, 0.2);
  background: #8b57c2;

  position: relative;
}

.cardPro .cardTitle {
  font-weight: 900;
  font-size: 8rem;
  line-height: 120%;
  text-align: center;
  color: var(--secondBg);
}

.cardPro .cardTextPro {
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  width: 9.3rem;
}

.bonusPro {
  position: absolute;
  right: 0;
  top: -3rem;

  width: 7.8rem;
  height: 8.2rem;

  border-radius: 1.2rem 1.2rem 0 0;
  background-color: var(--accent-pink);
  color: var(--secondBg);

  padding: 1rem;
  text-align: center;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;

  z-index: -1;
}

/* Bonus badge */
.bonus {
  border-radius: 7rem;
  padding: 1rem;
  width: 7.8rem;
  height: 3rem;
  background-color: var(--standard-bg);

  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  position: absolute;
  top: -1.5rem;
  display: flex;
  align-items: center;
}

.bonusPremiumBg {
  background-color: var(--premium-bg);
  color: var(--secondBg);
}

/* Purple ribbon */
.ribbon_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.ribbon_wrapper::before {
  content: 'Хіт продажів';
  text-align: center;
  width: 160px;
  color: var(--secondBg);
  background-color: var(--accent-pink);
  border-radius: 6px;
  padding: 0.9rem 1.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 120%;
  position: absolute;
  top: 1.4rem;
  left: -3.7rem;
  transform: rotate(-36deg);
  box-shadow: 1px 2px 4px var(--shadow);
}
/* Titles and text */
.cardTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.cardText {
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;

  opacity: 0.5;

  text-align: center;
}

/* Responsive */
/* @media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .cardPro {
    transform: none;
  }
} */

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.cardsWrapper {
  position: relative;
  width: max-content;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding-top: 60px;
}

/* Base card */
.card {
  border-radius: 2.4rem 2.4rem 0 0;
  width: 200px;
  height: 144px;
  background-color: var(--table-color);
  z-index: -1;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card:first-child {
  right: -8px;
}

/* Mobile */
/* @media (max-width: 900px) {
  .cardsWrapper {
    flex-direction: column;
    gap: 20px;
    padding-top: 0;
  }

  .cardPro {
    position: relative;
    transform: none;
    left: 0;
    width: 100%;
    height: auto;
  }

  .card {
    width: 100%;
    height: auto;
  }
} */

/* Tablet / Small desktop */
@media (max-width: 1200px) {
  .wrapper__title {
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .cardsWrapper {
    gap: 1.5rem;
  }

  .card,
  .cardPro {
    width: 220px;
    height: 160px;
  }

  .cardTitle {
    font-size: 24px;
  }

  .cardText,
  .cardTextPro {
    font-size: 0.9rem;
  }

  .bonus,
  .bonusPro {
    font-size: 1.2rem;
  }

  .ribbon_wrapper::before {
    font-size: 1.2rem;
    top: 1rem;
    left: -2.5rem;
  }
}

/* Tablets / Mobile landscape */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .wrapper__title {
    font-size: 2.8rem;
    text-align: center;
  }

  .cardsWrapper {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding-top: 0;
    width: 100%;
  }

  .cardPro,
  .card {
    width: 90%;
    height: auto;
    position: relative;
    transform: none;
    left: 0;
    right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .cardTitle {
    font-size: 20px;
  }

  .cardText,
  .cardTextPro {
    font-size: 0.85rem;
  }

  .bonusPro {
    font-size: 1rem;
  }
  .bonus {
    font-size: 1rem;
    top: -1rem;
    width: 6rem;
    height: 2.5rem;
  }

  .ribbon_wrapper::before {
    font-size: 1rem;
    top: 0.8rem;
    left: -2rem;
  }
}

/* Mobile portrait */
/* @media (max-width: 480px) {
  .wrapper__title {
    font-size: 2.2rem;
  }

  .cardTitle {
    font-size: 18px;
  }

  .cardText,
  .cardTextPro {
    font-size: 0.75rem;
  }

  .bonus,
  .bonusPro {
    font-size: 0.9rem;
    width: 5.5rem;
    height: 2.2rem;
  }

  .ribbon_wrapper::before {
    font-size: 0.9rem;
    top: 0.6rem;
    left: -1.8rem;
  }
} */

.price-wrapper {
  padding-top: 4rem;

  display: flex;
  justify-content: space-between;
}

.price-block {
  display: flex;
  gap: 3.3rem;
}

.price-block__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.price-block__price .old-price {
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  text-decoration: line-through;
  text-align: center;
  color: #000;

  opacity: 0.6;
  mix-blend-mode: plus-darker;

  margin-bottom: 1.4rem;
}

.price-block__price .new-price {
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;

  margin-bottom: 3.1rem;
}

.price-block__price .new-price span {
  font-weight: 800;
  font-size: 5rem;
  margin-right: 4px;
}

.color-standard {
  color: var(--standard-bg);
}
.color-pro {
  color: var(--brand-primary);
}
.color-premium {
  color: var(--premium-bg);
}

.price-block button {
  border-radius: 8px;
  padding: 1.8rem 2.8rem;
  width: 18.6rem;
  height: 5.5rem;
  border: none;
  color: var(--secondBg);

  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
}

.bg-color-standard {
  background-color: var(--standard-bg);
}
.bg-color-pro {
  background-color: var(--brand-primary);
}
.bg-color-premium {
  background-color: var(--premium-bg);
}

.price-block_desc {
  margin-top: 1.2rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
}

.price-block_desc span {
  font-weight: 700;
}

.timer svg {
  color: #e8ddf3;
}
.timer_item {
  background-color: var(--banner-desc-bg) !important;
}

.timer-block > p {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-bottom: 1.7rem;
}

.timer-block p span {
  font-weight: 700;
}

@media (max-width: 920px) {
  .price-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }
}

@media (max-width: 680px) {
  .price-block {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 374px) {
  .price-block {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
