:root {
  --accent-pink: #ff7ef2;
  --accent-yellow: #fecb00;
  --accent-purple: #8b57c2;
  --radius: 1.2rem;
  --gap: 3rem;
}

.section {
  padding-top: 7.3rem;
}
.header {
  text-align: center;
  margin-bottom: 3rem;
}

.title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  margin-bottom: 4.8rem;
}
.title span {
  font-weight: 800;
  color: var(--brand-primary);
}
.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.card {
  background-color: var(--background);
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.25s ease;
}

.standard_color_bg {
  background-color: var(--accent-pink);
}

.pro_color_bg {
  background-color: var(--accent-yellow);
}
.premium_color_bg {
  background-color: var(--brand-primary);
}

/* Premium */
.radius_color_standard {
  border: 1px solid var(--accent-pink);
}

.radius_color_pro {
  border: 1px solid var(--accent-yellow);
}
.radius_color_premium {
  border: 1px solid var(--brand-primary);
}

.card:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.45);
}

/* Header colors */
.cardHead {
  padding-top: 2.1rem;
  padding-bottom: 1.8rem;
}

.cardHead h3 {
  text-align: center;

  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  color: #fff;
}

.standard_bg .cardHead {
  background-color: var(--accent-pink);
}

.cardBody_additional li {
  display: flex;
  align-items: stretch;
  gap: 1.2rem;
}
.dot {
  border-radius: 2px;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  background-color: inherit;
}

.dot_color--premium {
  background-color: var(--brand-primary);
}

.dot_color--pro {
  background-color: var(--accent-yellow);
}

.cardBody {
  padding-top: 2.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cardBody__subtitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: #fff;
  margin-bottom: 2.2rem;
}

.cardList {
  list-style: disc;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  font-size: 1.6rem;
}

.cardBody_additional {
  list-style: none;
  padding-left: 0;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cardBody_additional_bottom {
  padding-top: 0;
}

.cardList li {
  margin-bottom: 2.4rem;
}

.cardList li:last-child {
  margin-bottom: 0;
}

.note {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.55);
}

.plans_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2.4rem;
}

.card_signature {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  max-width: 345px;
}

/* Responsive */
@media (max-width: 980px) {
  .plans {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 2.8rem;
  }

  .card_signature {
    width: 100%;
    text-align: start;
  }
}

@media (max-width: 768px) {
  .plans {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 2.8rem;
  }

  .card_signature {
    width: 100%;
    text-align: start;
  }
}

@media (max-width: 420px) {
  .cardBody {
    padding: 1.6rem;
  }

  .cardHead {
    padding: 1.6rem;
    font-size: 1.6rem;
  }
  .card_signature {
    width: 100%;
    text-align: start;
  }
}
