.section {
  background-color: var(--background);
  padding-top: 4.7rem;
  padding-bottom: 4.3rem;
}
.container {
  padding-left: 2.1rem;
  padding-right: 5.4rem;
}

.wrapper {
  background-image: url(/images/banner-installment.png);
  margin: 0 auto;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 56.7rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 6.3rem;
  padding-right: 6.1rem;
}

.wrapper_block1 > h2 {
  font-weight: 800;
  font-size: 46px;
  color: var(--brand-primary);

  width: 37.1rem;

  margin-bottom: 3rem;
}

.wrapper_block1 > h2 > span {
  color: var(--second-text);
}

.wrapper_block1 > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.9);
  width: 40rem;
}
