.section {
  background-color: var(--background);
  padding-top: 4.7rem;
  padding-bottom: 4.3rem;
}
.container {
  padding-left: 2.1rem;
  padding-right: 5.4rem;
}

.wrapper {
  background-image: url(/images/banner-installment.png);
  margin: 0 auto;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 56.7rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 6.3rem;
  padding-right: 6.1rem;
}

.wrapper_block_left > h2 {
  font-weight: 800;
  font-size: 4.6rem;
  color: var(--brand-primary);

  width: 37.1rem;

  margin-bottom: 3rem;
}

.wrapper_block_left > h2 > span {
  color: var(--second-text);
}

.wrapper_block_left > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.9);
  width: 40rem;
}
.wrapper_block1 > p > span {
  color: var(--brand-primary);
}

.deadlineWrapper {
  backdrop-filter: blur(38px);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 20px;
  width: 20.1rem;
  height: 26.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3.4rem;
  padding-bottom: 3.1rem;
}

.wrapper_block_center {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 1280px) {
  .deadlineWrapper {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
}

.deadlineWrapper > p:first-child {
  font-weight: 700;
  font-size: 1.6rem;
  max-width: 11rem;
  text-align: center;
  color: #fff;

  margin-bottom: 20px;
}

.deadlineWrapper p:nth-last-child(2) {
  font-weight: 900;
  font-size: 141px;

  color: var(--brand-primary);
}

.deadlineWrapper p:nth-last-child(1) {
  font-weight: 700;
  font-size: 29px;
  color: var(--second-text);
}

.wrapper_block_right {
  width: 302px;
}

.wrapper_block_right > p {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: var(--second-text);

  margin-bottom: 3rem;
}

.wrapper_block_right > ul {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding-left: 8px;
  color: rgba(255, 255, 255, 0.9);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.wrapper_block_right > ul li {
  padding-left: 1.4rem;
}

.wrapper_block_right > ul li::marker {
  content: url('/marker.svg');
}

.banks-wrapper {
  margin-top: 0.7px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media (max-width: 1024px) {
  .section {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
  .container {
    padding-left: 2.1rem;
    padding-right: 2.1rem;
  }
  .banks-wrapper {
    margin-top: 1em;
  }
  .wrapper {
    background-image: url(/images/mobile-bg.png);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0 0;
    background-size: cover;
  }

  .wrapper_block_left {
    margin-bottom: 2rem;
  }

  .wrapper_block_left > h2 {
    font-size: 3.2rem;
    width: 100%;
    text-align: center;
  }

  .wrapper_block_left > p {
    font-size: 1.8rem; /* ~18px */
    width: 100%;
    text-align: center;
  }

  .deadlineWrapper {
    width: 18rem;
    height: auto;
    padding: 2rem;
  }

  .deadlineWrapper p:nth-last-child(2) {
    font-size: 8rem;
  }

  .deadlineWrapper p:nth-last-child(1) {
    font-size: 2.4rem;
  }

  .wrapper_block_right {
    width: 100%;
    padding: 2rem;
  }

  .wrapper_block_right > p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
  }

  .wrapper_block_right > ul {
    font-size: 1.6rem;
    gap: 1.2rem;
  }
}

/* Mobile (<= 576px) */
@media (max-width: 576px) {
  .wrapper {
    padding: 2rem 1.6rem;

    background-size: 100% 55%;
  }

  .wrapper_block_left > h2 {
    font-size: 2.4rem;
  }

  .wrapper_block_left > p {
    font-size: 1.6rem;
  }

  .deadlineWrapper {
    width: 14rem;
    padding: 1.6rem;
  }

  .deadlineWrapper p:nth-last-child(2) {
    font-size: 6rem;
  }

  .deadlineWrapper p:nth-last-child(1) {
    font-size: 2rem;
  }

  .wrapper_block_right > p {
    font-size: 1.8rem;
  }

  .wrapper_block_right > ul {
    font-size: 1.4rem;
    gap: 1rem;
    padding: 1.6rem;
  }
}

/* Small mobile (<= 380px) */
@media (max-width: 380px) {
  .wrapper {
    padding: 1.6rem;
  }

  .wrapper_block_left > h2 {
    font-size: 2rem;
  }

  .wrapper_block_left > p {
    font-size: 1.4rem;
  }

  .deadlineWrapper {
    width: 12rem;
    padding: 1.2rem;
  }

  .deadlineWrapper p:nth-last-child(2) {
    font-size: 4.8rem;
  }

  .deadlineWrapper p:nth-last-child(1) {
    font-size: 1.6rem;
  }

  .wrapper_block_right > p {
    font-size: 1.6rem;
  }

  .wrapper_block_right > ul {
    font-size: 1.2rem;
    gap: 0.8rem;
  }
}
