@import '../src/styles/reset.css';

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

/* Tablet */
@media (max-width: 992px) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
}

/* Mobile */
@media (max-width: 576px) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}

/* Small mobile (iPhone SE, 360px) */
@media (max-width: 380px) {
  html {
    font-size: 43.75%; /* 1rem = 7px */
  }
}

:root {
  /* color */
  --active-nav: #8b57c2;
  --brand-primary: #8b57c2;
  --dark-text: #000;
  --main-text: rgba(255, 255, 255, 0.7);
  --second-text: #fff;
  --secondBg: #ffffff;
  --background: #121212;
  --accent-pink: #ff7ef2;
  --accent-yellow: #fecb00;
  --banner-desc-bg: #e8ddf3;
  --table-color: #f4f5f7;
  --premium-bg: #5b9aff;
  --standard-bg: #fea800;
  /* animate */

  --default-transition: all 0.3s ease;
  --shadow: #00000021;

  --radius: 1.2rem;
  --gap: 3rem;
}

body * {
  font-family: var(--font-gilroy);
  font-weight: 500;
  line-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--main-text);
  font-family: var(--font-gilroy);
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
}

.button-course {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0 16px;
  height: 5.6rem;

  font-weight: 700;
  font-size: 1.6rem;
  background: transparent;
  color: #fff;
  cursor: pointer;

  transition: var(--default-transition);
}

.button-course-hover:active {
  background: var(--active-nav);
  color: #fff;
}

.bg-violet {
  background: var(--active-nav);
  border-color: var(--active-nav);
}

.mobile-hide {
  display: none;
}
@media (min-width: 992px) {
  .button-course {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0 16px;
    height: 5.6rem;

    font-weight: 700;

    background: transparent;
    color: #fff;
    cursor: pointer;

    transition: var(--default-transition);
  }

  .button-course-hover:hover {
    background: var(--active-nav);
    border-color: var(--active-nav);
    color: #fff;
    box-shadow: 0 0 10px var(--active-nav);
  }
}

.navigation-desktop-active {
  display: none;
}

@media (min-width: 992px) {
  .navigation-desktop-active {
    display: block;
  }
}

/* globals header */

.navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;

  font-size: 1.5rem;
  line-height: 160%;
  text-align: center;
}

@media (min-width: 992px) {
  .navigation ul {
    flex-direction: row;
    gap: 40px;
  }
}

.navigation ul li a {
  color: var(--main-text);
  text-decoration: none;
}

.navigation ul li .active {
  color: var(--active-nav);
}

.logo {
  position: relative;
  z-index: 1100;
  width: 13.71rem;
  height: auto;
}

/* container */

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* tablet */
@media (min-width: 576px) {
  .container {
    padding: 0 40px;
  }
}

/* desktop */
@media (min-width: 992px) {
  .container {
    padding: 0 60px;
  }
}

/* desktop M */
@media (min-width: 1200px) {
  .container {
    padding: 0 80px;
  }
}

/* desktop 1440px+ */
@media (min-width: 1440px) {
  .container {
    padding: 0 100px;
    max-width: 1440px;
  }
}

.title-black {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 120%;
  color: var(--dark-text);
}
