.header {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .header {
    padding-top: 22px;
  }
}
.navigation {
  display: none;
}

@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}



@media (min-width: 1200px) {
  .activeButton {
    display: block;
  }
}
