.mobileMenu {
  display: block;
}

@media (min-width: 992px) {
  .mobileMenu {
    display: none;
  }
}

.buttonBurger {
  width: 100%;
  background: transparent;
  height: 100%;
  border: none;
  z-index: 99;
  position: relative;
}

.hamburger {
  z-index: 99;
  width: 36px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  position: relative;
}

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

.hamburger::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  transform: translateY(-10px);
  left: 0;
}

.hamburger::after {
  content: '';
  position: absolute;
  width: 36px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  transform: translateY(10px);
  left: 0;
}

.mobileModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;

  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 40px;
  transition: opacity 0.4s ease;
  z-index: 80;
}

.isActive {
  opacity: 1;
  pointer-events: auto;
}
@media (min-width: 992px) {
  .mobileModal {
    display: none;
  }
}

.open {
  background-color: transparent;
  box-shadow: none;
}

.open::before {
  transform: rotate(45deg);
}

.open::after {
  transform: rotate(-45deg);
}
